{% extends 'base.html'%}

{% block content %}

<form method='POST' action='#'>
    {% csrf_token %}

    <table border='2'>
        <tr>
            <td>Company token</td>
            <td>Start date</td>
            <td>End date</td>
            <td rowspan='2'><button type='submit'>Show</button></td>
        </tr>
        <tr>
            <td><input type='text' name='token'></td>
            <td><input type='date' name='start'></td>
            <td><input type='date' name='end'></td>
        </tr>
    </table>
</form>

{% autoescape off %}
{{ plt }}
{% endautoescape %}

<ul>
    <li>Current Price: {{ current }}</li>
    <li>All time High: {{ highest }}</li>
    <li>All time Low: {{ lowest }}</li>
    <li>Predicted price: {{ pred }}</li>
</ul>

{% endblock %}