{% extends 'base.html'%}

{% block content %}

<style>
table {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-collapse: separate;
    border-spacing: 0 30px;
}
tr {
    border-bottom: 1px solid silver;
}
.tdleft {
    width:50%
}
.tdright {
    width: 50%;
    text-align: left;
}
button {
    height: 25px;
    width: 60px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.tsla {
    background-color: red;
    color: white;
}
.aapl {
    background-color: silver;
    color: white;
}
.goog {
    background-color: green;
    color: white;
}
.fb {
    background-color: blue;
    color: white;
}

</style>

<h1>Stock Market Analysis</h1>

<form name='search' method='POST' action='stock/' onsubmit='return validate()' target="_blank" >
    {% csrf_token %}

    <input id='search' type='text' name='token' placeholder='Enter company token'>
    <button type='submit'>Search</button>    
</form>

<form  name='search' method='POST' action='stock/' target="_blank" >
{% csrf_token %}
<table>
    <tr>
        <td><h3>You may be interested in</h3></td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button class='tsla' type='submit' value='TSLA' name='token'>TSLA</button>
            <h3 style="display: inline; margin:25px">Tesla</h3>
        </td>
        <td class='tdright'>
            {{ tsla }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button class='aapl' type='submit' value='AAPL' name='token'>AAPL</button>
            <h3 style="display: inline; margin:25px">Apple</h3>
        </td>
        <td class='tdright'>
            {{ aapl }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button class='goog' type='submit' value='GOOG' name='token'>GOOG</button>
            <h3 style="display: inline; margin:25px">Google</h3>
        </td>
        <td class='tdright'>
            {{ goog }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button class='fb' type='submit' value='FB' name='token'>FB</button>
            <h3 style="display: inline; margin:25px">Faceook</h3>
        </td>
        <td class='tdright'>
            {{ fb }}
        </td>
    </tr>
</table>

</form>
{% endblock %}